/* base font */
@font-face {
    font-family: 'HanaCM';
    src: url("/font/HanaCM.ttf") format("truetype");
}
@font-face {
    font-family: 'HanaUL';
    src: url("/font/HanaUL.ttf") format("truetype");
}
.menu, .btn {
    font-family: 'HanaUL';
}
.page-title {
    font-family: 'HanaCM';
}
/* delete basic style */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* css for PC */
@media screen and (min-width: 426px) {
    body {
        display: flex;
    }
    main {
        background-image: url(/image/background-img.gif);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 250px;
    }
    .main-img.coin {
        width: 70px;
        margin-left: -35px;
        bottom: 3px;
        position: absolute;
    }
    .main-img.main-logo {
        width: 350px;
        margin-left: -175px;
        bottom: -80px;
        position: absolute;
    }

    .main-content.table-content {
        height: 465px;
    }
    /* 메뉴 */
    .logo {
        content: url("../image/logo.png");
        width: 250px;
        height: 190px;
    }
    .menu-bar {
        padding: 50px;
    }
    .menu {
        margin: 70px auto 0 auto;
        font-size: 1.5em;
    }
    .menu>li {
        margin: 15px 0;
    }
    .menu-item:hover {
        margin-left: -15px;
    }

    /* 국기 */
    .flag {
        width: 60%;
    }

    /* 테이블 */
    .tcontent-apply-nation select {
        width: 100%;
    }

    /* 로그인 폼 */
    .login-form, .join-form {
        width: 350px;
        text-align: center;
    }
    .page-title {
        margin-bottom: 50px;
    }
}
/* css for Mobile */
@media screen and (max-width: 426px) {
    body {
        display: block;
        min-width: 375px;
    }
    main {
        height: 80%;
        background-image: none;
        overflow-y: scroll;
    }
    .main-img.coin {
        width: 50px;
        margin-left: -25px;
        bottom: 20px;
        position: absolute;
    }
    .main-img.main-logo {
        width: 300px;
        margin-left: -150px;
        bottom: -50px;
        position: absolute;
    }

    .main-content.table-content {
        margin-top: -50px;
        height: 375px;
    }
    .pagination-container {
        position: absolute;
        width: 375px;
        display: flex;
        justify-content: center;
        bottom: 75px;
    }
    /* 메뉴 */
    .menu-bar {
        padding: 30px;
        max-height: 20%;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        margin: 20px auto 0 auto;
        font-size: 0.8em;
    }
    .logo {
        content: url("../image/mobile-logo.png");
        width: 100px;
        height: 35px;
    }

    /* 국기 */
    .flag {
        width: 20%;
    }

    /* 테이블 */
    .table {
        width: 90%;
        margin: 0 auto;
        font-size: 0.75em;
    }
    .tcontent-apply-nation select, .form-control {
        width: 80%;
        margin: 0 auto;
        font-size: 1em;
    }

    /* 로그인 폼 */
    .login-form, .join-form {
        width: 200px;
        text-align: center;
    }
    .login-form *, .join-form * {
        font-size: 0.85em;
    }
    .page-title {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .text-warning {
        font-size: 0.75em;
    }

    /* 버튼 */
    .btn {
        font-size: 0.75em;
    }
    .btn-container {
        margin: auto 5%;
    }
    .btn-logout {
        position: absolute;
        top: 45px;
        right: 50px;
        font-size: 0.9em;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 2px;
    }
}
/* 메인 */
main {
    width: 100%;
    /*min-width: 550px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}
main.none-img {
    background-image: none;
}
.page-title {
    color: #008485;
}
.lookup-form, .info-form, .main-content {
    width: 350px;
    text-align: center;
}
.info-form.chart-form {
    width: 500px;
}
.main-content.table-content {
    width: 600px;
}
.main-content.main-page {
    position: relative;
}

.main-img {
    position: absolute;
}

/* 메뉴 */
.menu-bar {
    background-color: rgba(0, 140, 140, 0.8);
}
.menu {
    list-style: none;
    padding: 0;
}
.menu-item, .menu-item:hover {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: margin-left 0.5s ease;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px auto;
    padding: 0;
}
.tab-item {
    display: block;
    width: 100px;
    color: #008485;
    font-weight: bold;
    cursor: pointer;
}
.tab-item.selected {
    border-bottom: 2px solid #008485;
}

.tab-content-container {
    height: 300px;
}

/* 테이블 */
.colored-thead {
    background-color: #008485;
    color: #fff;
}
.tlabel {
    width: 50%;
}
.tlabel-sm {
    width: 120px;
}

label {
    width: 100%;
}

/* 국기 */
.flag {
    display: block;
    margin: 0 auto;
}
.chart-form .flag {
    width: 20%;
}

/* 차트 */
.chart-control-area {
    height: 150px;
}
.chart-container{
    position: relative;
}
.loading-msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 70px;
    margin-top: -35px;
    margin-left: -125px;
}

/* 로그인, 회원가입 */
.form-input-label, .form-join-label {
    display: inline-block;
}
.form-input-label {
    width: 50px;
}
.form-join-label {
    width: 80px;
}
.form-control:focus {
    border-color: #008485;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 140, 140, 0.6);
}
.input-group-text {
    background-color: #008485;
    color: #fff;
}

/* 정렬 */
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}
.margin-center {
    margin: 0 auto;
}

/* 버튼 */
.btn-hana, .btn-hana:hover  {
    margin-top: 20px;
    background-color: #008485;
    color: #fff;
}
.btn-outline-hana, .btn-outline-hana:hover {
    background: none;
    color: #008485;
    border: 1px solid #008485;
    margin: 0 auto;
    display: block;
}
.btn-container .btn-outline-hana {
    background: none;
    color: #008485;
    border: 1px solid #008485;
    display: inline-block;
}
.btn-speech {
    cursor: pointer;
}
td .btn#btnGetNations {
    width: 150px;
}

    /* input[type="date"] */
input[type="date"] {
    background: url(/image/calendar-icon.png) 95% 50% no-repeat;
    background-size: 20px 20px;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
input[type="date"] {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
}

.input-sm {
    width: 160px;
    margin: 0 auto;
}

.text-sm {
    font-size: 0.75em;
}

/* 로딩 이미지 */
.img-loader {
    display: block;
    width: 30px;
    margin: 0 auto;
}
.img-loader.issue-loader {
    width: 150px;
}

/* 이슈 */
.issue {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.issue img {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}
.issue a {
    font-size: 0.8em;
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

/* 페이지네이션 */
.pagination-container a {
    text-decoration: none;
}
.pagination-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 1px solid #008485;
    border-radius: 50px;
}
.pagination-item.selected {
    background-color: #008485;
}

/* 에러 페이지 */
.icon-warning {
    width: 50px;
    margin-bottom: 25px;
}