/* delete basic style */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* css for PC */
@media screen and (min-width: 769px) {
    body {
        display: flex;
    }
    .logo {
        content: url("../image/logo.png");
        width: 250px;
        height: 190px;
    }
    .menu {
        margin: 70px auto 0 auto;
    }
    .menu>li {
        margin: 15px 0;
    }
    .menu-item:hover {
        margin-left: -15px;
    }
}
/* css for Mobile */
@media screen and (max-width: 768px) {
    body {
        display: block;
        min-width: 700px;
    }
    main {
        height: 100vh;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        margin: 20px auto 0 auto;
    }
    .logo {
        content: url("../image/mobile-logo.png");
        width: 200px;
        height: 70px;
    }
}
/* 메인 */
main {
    width: 100%;
    min-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    background-image: url(/image/background-img.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px;
}
main.none-img {
    background-image: none;
}
.page-title {
    color: #008485;
    margin-bottom: 50px;
}
.login-form, .join-form, .lookup-form, .info-form, .main-content {
    width: 350px;
    text-align: center;
}
.info-form.chart-form {
    width: 500px;
}
.main-content.table-content {
    width: 600px;
}

/* 메뉴 */
.menu-bar {
    background-color: rgba(0, 140, 140, 0.8);
    padding: 50px;
}
.menu {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
}
.menu-item, .menu-item:hover {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: margin-left 0.5s ease;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px auto;
    padding: 0;
}
.tab-item {
    display: block;
    width: 100px;
    color: #008485;
    font-weight: bold;
    cursor: pointer;
}
.tab-item.selected {
    border-bottom: 2px solid #008485;
}

.tab-content-container {
    height: 300px;
}

/* 테이블 */
.colored-thead {
    background-color: #008485;
    color: #fff;
}
.tlabel {
    width: 50%;
}
.tlabel-sm {
    width: 120px;
}
.tcontent-apply-nation select {
    width: 100%;
}

/* 국기 */
.flag {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.chart-form .flag {
    width: 20%;
}

/* 차트 */
.chart-control-area {
    height: 150px;
}
.chart-container{
    position: relative;
}
.loading-msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 70px;
    margin-top: -35px;
    margin-left: -125px;
}

/* 로그인, 회원가입 */
.form-input-label, .form-join-label {
    display: inline-block;
}
.form-input-label {
    width: 50px;
}
.form-join-label {
    width: 80px;
}
.form-control:focus {
    border-color: #008485;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 140, 140, 0.6);
}
.input-group-text {
    background-color: #008485;
    color: #fff;
}

/* 정렬 */
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}

/* 버튼 */
.btn-hana, .btn-hana:hover  {
    margin-top: 20px;
    background-color: #008485;
    color: #fff;
}
.btn-outline-hana, .btn-outline-hana:hover {
    background: none;
    color: #008485;
    border: 1px solid #008485;
    margin: 0 auto;
    display: block;
}

/* input[type="date"] */
input[type="date"] {
    background: url(/image/calendar-icon.png) 95% 50% no-repeat;
    background-size: 20px 20px;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
input[type="date"] {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
}

.input-sm {
    width: 160px;
    margin: 0 auto;
}

.text-sm {
    font-size: 0.75em;
}

/* 로딩 이미지 */
.img-loader {
    display: block;
    width: 30px;
    margin: 0 auto;
}
.img-loader.issue-loader {
    width: 150px;
}

/* 이슈 */
.issue {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.issue img {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}
.issue a {
    font-size: 0.8em;
    color: #000;
    font-weight: normal;
    text-decoration: none;
}